body {
    font-family: Arial, sans-serif;
    background-color: #f3f0e9;
    margin: 0;
    padding: 0;
}

.contact-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.contact-container img {
    width: 160px;
    height: 160px;
    margin-top: 20px;
}
h1 {
    text-align: center;
    color: #333;
}

.booking-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.booking-table td {
    text-align: center;
    padding: 10px;
}

button {
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}
button1 {
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    
    margin-left: 230px;
}
button:hover {
    background-color: #0056b3;
    margin-top: 20px;
}

.hidden {
    display: none;
    flex-direction: column;

}


.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.label {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input {
    background: #333;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
    color: white;
    width: 100%;
    max-width: 500px;
}

.input,select {
    background: #333;
    color: white;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    transition: border-color 0.3s;
}
.input,label{
    font-size: 1.5em;
    
    color: blue;
   margin-top: 10px;
   padding-right: 30px;
   
}
.image-link {
    display: inline-block;
    text-align: center;
  }
  .social-icons img {
  justify-content: space-between;
 
    
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  .social-icons:social-icon img{
    transform: scale(1.05);
    
  }
  
.input:focus,select:focus{
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgb(0,123,255,0.5);
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    color: rgb(97, 37, 7);
  font-weight: bolder;
}

footer a {
    color: #007BFF;
    
}
.button {
    background-color: #ff0000;
    color: #fff;
    padding: 15px 36px;
    margin-bottom: 20px;
    
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}
.button:hover {
    background-color: #000000;
  }
footer a:hover {
    text-decoration: underline;
    
}
.list .logotype {
    background-color: #007bff;
    color: #fff;
    padding: 15px 36px;
    margin-bottom: 20px;
    margin-left:190px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}
.logotype:hover {
    background-color: #000000;
  }
.aside {
    width: 250px;
    height: 100vh; 
    position: fixed;
    top: 0;
    right: 0; 
    background: #333;
    color: white;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aside a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.social-icon {
    width: 40px;
    height: 40px;
}