
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f3f0e9;
    color: #1e281d;
    font-family: sans-serif;
}

.container {
    width: min(1200px, 90%);
    margin: 0 auto;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.lang {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 12px 40px 12px 16px;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    color: #1e281d;
    background: linear-gradient(145deg, #f0f0f0, #dcdcdc); /* мягкий градиент */
    border: none;
    border-radius: 12px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1), -4px -4px 10px rgba(255,255,255,0.7); /* неймплос эффект */
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.lang:hover {
    box-shadow: inset 4px 4px 10px rgba(0,0,0,0.1), inset -4px -4px 10px rgba(255,255,255,0.7);
    transform: translateY(-2px);
}


.lang::after {
    content: '▼';
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #1e281d;
    font-size: 12px;
}


.menu {
    display: flex;
    gap: 30px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #1e281d;
    font-size: 15px;
}

.btn {
    padding: 10px 20px;
    background: #1e281d;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.btn:hover{
    background: rgb(4, 150, 255);
}

.hero {
    margin-top: 50px;
}
.hero1 {
    display: flex;
    align-items: center;
    gap: 270px;
}
.hero-title {
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
    margin-bottom: 20px;
}

.hero-text {
    color: #6b6b6b;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    
}

.hero-main {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 16px;
}

.explore-link {
    display: flex;
    justify-content: end;
    text-decoration: none;
    color: #1e281d;
    margin-top: 100px;
}


.about {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
}

.about-img {
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.left-img {
    height: 320px;
}

.right-img {
    height: 410px; 
}

.about-text h2 {
    margin-bottom: 12px;
    font-size: 26px;
}

.about-text p {
    margin-bottom: 20px;
}



.choose-row {
    margin-top: 40px;
    display: flex;
    gap: 30px;
}

.choose-item {
    background: #fff;
    padding: 22px;
    border-radius: 16px;
    flex: 1;
}

.choose-item h4 {
    margin-bottom: 10px;
     font-family: 'DM Serif Display', serif;
     
}



.services {
    margin-top: 80px;
}

.services-title {
    font-size: 28px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-sub {
    color: #6f6f6f;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.service-layout {
    display: grid;
    grid-template-columns: 250px 2fr 1fr;
    gap: 30px;
    align-items: start;
}

.service-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.service-menu li {
    padding: 12px 18px;
    background: #eceae4;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.service-menu li:hover {
    background: #dedcd3;
}

.service-menu .active {
    background: #1e281d;
    color: white;
}


.service-main-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 16px;
    justify-self: center;
}
.service-info h4 {
    font-size: 25px;
}

.service-info h4 span {
    font-weight: bold;
    font-family: 'DM Serif Display', serif;
    font-size: 30px;
}
.footer {
  margin-top: 50px;
  padding: 20px;
  background: rgb(4, 150, 255);
  color: #fff;
  text-align: center;
  font-size: 14px;
}

@media (max-width: 900px) {
    .hero1 {
        flex-direction: column;
    }
    .container {
        flex-direction: column;
    }
    .nav {
        flex-direction: column;
    }
    .menu {
        flex-direction: column;
    }
    .about {
        grid-template-columns: 1fr;
    }
    .choose-row {
        flex-direction: column;
    }

    .service-layout {
        grid-template-columns: 1fr;
    }

    .service-main-img {
        width: 100%;
    }
}